<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <!--<add name="HelloWorldHandler" verb="GET" path="*.aspx" type="HelloWorldHandler" />-->
    <add name="HelloWorldHandler" verb="*" path="logon.html" type="HelloWorldHandler" />
    
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>